#about {
	min-height: calc(100vh - 56px);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10px;
	}

	a {
		color: #fd7e14;
	}
}

.title {
	font-size: rem(48px);
	max-width: 500px;

	@media (max-width: 48em) {
		font-size: rem(24px);
	}
}

.content {
	text-align: center;
	background-color: rgba(#fff4d5, 0.6);

	@media (max-width: 48em) {
		padding-left: 20px;
	}
}

.sponsors {
	margin-top: 30px;
	gap: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	filter: grayscale(100%);
}

.description {
	font-size: rem(24px);
	text-align: left;
	max-width: 370px;

	@media (max-width: 48em) {
		font-size: 1rem;
		text-align: center;
	}
}

.left {
	align-items: flex-start;
	margin-right: 70px;

	@media (max-width: 48em) {
		align-items: center;
		margin-right: 0px;
	}
}

#pot {
	height: auto;
	width: 400px;

	@media (max-width: 48em) {
		width: 100%;
	}
}

.company {
	width: auto;
	height: 35px;

	@media (max-width: 48em) {
		height: 20px;
	}
}

.shadow {
	-webkit-box-shadow: 16px 15px 13px -1px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 16px 15px 13px -1px rgba(0, 0, 0, 0.23);
	box-shadow: 16px 15px 13px -1px rgba(0, 0, 0, 0.23);
}
