.plans {
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin-top: 120px;
	margin-bottom: 120px;

	@media (max-width: 48em) {
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

.title {
	font-size: rem(34px);
	font-weight: 900;

	@media (max-width: 48em) {
		font-size: rem(24px);
	}
}

.description {
	max-width: rem(600px);
	margin: auto;

	&::after {
		content: "";
		display: block;
		background-color: var(--mantine-color-blue-filled);
		width: rem(45px);
		height: rem(2px);
		margin-top: var(--mantine-spacing-sm);
		margin-left: auto;
		margin-right: auto;
	}
}

.card {
	border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
	background-color: var(--theme-blue);
	color: var(--theme-white);
	height: 500px;
}

.freecard {
	border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
	background-color: var(--theme-blue);
	color: var(--theme-white);
}

.freecard_description {
	font-weight: 200;
}

.card_description {
	color: var(--theme-white);
	font-weight: 200;
}

.card:first-child {
	border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
	background-color: var(--theme-gold);
	color: var(--theme-white);
}

.cardTitle {
	&::after {
		content: "";
		display: block;
		background-color: var(--mantine-color-blue-filled);
		width: rem(45px);
		height: rem(2px);
		margin-top: var(--mantine-spacing-sm);
	}
}

.card:first-child .card_description {
	color: var(--theme-blue);
}

.cta_cards,
.cta_cards span {
	background-color: var(--theme-gold);
	color: var(--theme-blue);
	border-radius: 0%;
	font-weight: bold;
	width: 100%;
	justify-content: center;
	transition: all 0.5s;
}

.cta_cards:hover {
	transform: scale(1.02);
}

.card:first-child .cta_cards,
.card:first-child .cta_cards span {
	background-color: var(--theme-blue);
	color: var(--theme-gold);
}

.shadow {
	-webkit-box-shadow: 16px 15px 13px -1px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 16px 15px 13px -1px rgba(0, 0, 0, 0.23);
	box-shadow: 16px 15px 13px -1px rgba(0, 0, 0, 0.23);
}

.priceContainer {
	margin-top: 16px;
	margin-bottom: 24px;
	display: flex;
	justify-content: end;
	align-items: start;
	flex-direction: column;
	height: 100px;
	width: 100%;
	padding: 0;
}

.card .price {
	font-size: rem(34px);
}

.oldPrice {
	text-decoration: line-through;
}

.card:first-child {
	color: var(--theme-blue);
}

.card button {
	text-align: center;
}
