#banner {
	background-color: var(--theme-blue);
	/* background-color: #fff0b9; */
	height: calc(100vh - 56px);
	margin-top: 56px;

	background-image: url("/assets/banner/BannerPC.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;


	/* banner mobile */
	@media (max-width: $mantine-breakpoint-sm) {
		background-image: url("/assets/banner/BannerMobile.jpeg");
	} 
}

.banner {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	/* background-image: url("/assets/banner/banner-hd.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; */

	@media (max-width: $mantine-breakpoint-sm) {
		height: 100%;
	}
}

.promove {
	position: absolute;
	right: 32px;
	top: 64px;
	font-weight: 700;
	text-align: right;
	font-size: 96px;
	/* color: var(--theme-gold); */
	color: var(--theme-black);
	line-height: 100px;
	letter-spacing: 8px;
	display: none;

	@media (max-width: $mantine-breakpoint-xs) {
		font-size: 64px;
		top: 32px;
		line-height: 64px;
	}
}

.box {

	position: absolute;
	bottom: 456px;
	text-align: center;
    
	@media (max-width: $mantine-breakpoint-xs) {
		width: 70%;
	}
}

.subtitle {
	color: var(--theme-black);
	display: none;

	/* @media (max-width: $mantine-breakpoint-xs) { */
	/* display: none; */
	/* } */
}

.cta {
	/* color: var(--theme-black); */
	font-weight: 700;
	transition: all 1s;

	@mixin hover {
		transform: scale(1.03);
		-webkit-transform: scale(1.03);
		box-shadow: 0px 1px 0px 0px;
		cursor: pointer;
	}
}
