#sponsors {
	background-color: var(--theme-gray);
	padding: 64px 0;
}

.gridCol {
	text-align: center;
}

.sponsorName {
	text-decoration: none;
	color: var(--theme-black);
	font-weight: 700;
	display: block;

	@media (max-width: 480px) {
		font-size: 14px;
	}
}

.instagram {
	text-decoration: none;
	font-style: italic;
	font-weight: 300;
	color: var(--theme-black);

	@media (max-width: 480px) {
		font-size: 12px;
	}
}

.sponsorName:hover,
.instagram:hover {
	text-decoration: underline;
}

.ctaSponsor:hover {
	cursor: pointer;
}
